code, blockquote, #top h1 {
	margin: 0;
	padding: 0;
}
:focus {
	outline-style: none;
}

/* Часто использующиеся стили */

.border0,
img, blockquote, form, fieldset,
table.border0, table.border0 > * > tr > td, table.border0 > * > tr > th,
table.table_decor, table.table_decor > * > tr > td, table.table_decor > * > tr > th,
table.table_form, table.table_form > * > tr > td, table.table_form > * > tr > th {
	border: none;
}
.border1,
pre, .pre,
td, th,
table.border1 > * > tr > td, table.border1 > * > tr > th {
	border: 1px solid rgba(200, 177, 160, 0.2);
}
.borderh,
table.borderh > * > tr > td, table.borderh > * > tr > th {
	border-top: 1px solid rgba(200, 177, 160, 0.2); border-right: none; border-bottom: 1px solid rgba(200, 177, 160, 0.2); border-left: none;
}
.borderv,
table.borderv > * > tr > td, table.borderv > * > tr > th {
	border-top: none; border-right: 1px solid rgba(200, 177, 160, 0.2); border-bottom: none; border-left: 1px solid rgba(200, 177, 160, 0.2);
}
img.border1 {
	border: none; outline: 1px solid rgba(200, 177, 160, 0.1); outline-offset: -1px;
}
.back0,
code,
table.table_decor > * > tr:hover, table.table_decor > * > tr:focus {
	background: none !important;
}
.back1,
pre, .pre,
tr:hover, tr:focus {
	background-color: rgba(144, 98, 62, 0.2);
}
*[class*="app-sba-"]:hover {
	background-color: rgba(144, 98, 62, 0.1);
}
body, body.smIframe {
	background-color: rgb(70, 41, 23);
}
.un_color,
.un_imp {
	color: rgba(200, 177, 160, 0.5);
}
.basiccolor,
body, code, pre, .pre, .code, #top h1 {
	color: rgb(200, 177, 160);
}
.color, .imp, .imp_01, .imp_02,
h1, h2, h3, h4, h5, h6, b, strong, caption, dt, th,
ul > li::before, .pseudo_button::before {
	color: rgb(178, 126, 77);
}
*[class*="app-sba-"], *[class*="app-sba-"]:focus {
	color: rgb(124, 80, 45);
}
a,
*[class*="app-sba-"]:hover {
	color: rgb(234, 177, 126);
}
a:hover, a:focus {
	color: rgb(255, 217, 164);
}

/* Шрифты */

@font-face {font-family: 'PT Sans'; src: url('fonts/PTS55F_W.eot'); src: local('PT Sans'), url('fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTS55F_W.woff') format('woff'), url('fonts/PTS55F_W.ttf') format('truetype'), url('fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}
@font-face {font-family: 'PT Sans'; font-style: italic; src: url('fonts/PTS56F_W.eot'); src: local('PT Sans Italic'), url('fonts/PTS56F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTS56F_W.woff') format('woff'), url('fonts/PTS56F_W.ttf') format('truetype'), url('fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}
@font-face {font-family: 'PT Sans'; src: url('fonts/PTS75F_W.eot'); font-style: normal; font-weight: bold; src: local('PT Sans Bold'), url('fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTS75F_W.woff') format('woff'), url('fonts/PTS75F_W.ttf') format('truetype'), url('fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}
@font-face {font-family: 'PT Sans'; font-style: italic; font-weight: bold; src: url('fonts/PTS76F_W.eot'); src: local('PT Sans Bold Italic'), url('fonts/PTS76F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTS76F_W.woff') format('woff'), url('fonts/PTS76F_W.ttf') format('truetype'), url('fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');}
@font-face {font-family: 'PT Sans Caption'; src: url('fonts/PTC55F_W.eot'); src: local('PT Sans Caption'), url('fonts/PTC55F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTC55F_W.woff') format('woff'), url('fonts/PTC55F_W.ttf') format('truetype'), url('fonts/PTC55F_W.svg#PTSans-Caption') format('svg');}
@font-face {font-family: 'PT Sans Caption'; font-weight: bold; src: url('fonts/PTC75F_W.eot'); src: local('PT Sans Caption Bold'), url('fonts/PTC75F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTC75F_W.woff') format('woff'), url('fonts/PTC75F_W.ttf') format('truetype'), url('fonts/PTC75F_W.svg#PTSans-CaptionBold') format('svg');}
@font-face {font-family: 'PT Sans Narrow'; src: url('fonts/PTN57F_W.eot'); src: local('PT Sans Narrow'), url('fonts/PTN57F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTN57F_W.woff') format('woff'), url('fonts/PTN57F_W.ttf') format('truetype'), url('fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');}
@font-face {font-family: 'PT Sans Narrow'; font-weight: bold; src: url('fonts/PTN77F_W.eot'); src: local('PT Sans Narrow Bold'), url('fonts/PTN77F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTN77F_W.woff') format('woff'), url('fonts/PTN77F_W.ttf') format('truetype'), url('fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');}
@font-face {font-family: 'PT Mono'; src: url('fonts/PTM55F_W.eot'); src: local('PT Mono'), url('fonts/PTM55F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTM55F_W.woff') format('woff'), url('fonts/PTF55M_W.ttf') format('truetype'), url('fonts/PTM55F_W.svg#PTMono-Regular') format('svg');}
@font-face {font-family: 'PT Mono'; src: url('fonts/PTM75F_W.eot'); font-style: normal; font-weight: bold; src: local('PT Mono Bold'), url('fonts/PTM75F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTM75F_W.woff') format('woff'), url('fonts/PTM75F_W.ttf') format('truetype'), url('fonts/PTM75F_W.svg#PTMono-Bold') format('svg');}

body, code, pre, .pre, .code, blockquote, .fontsize_n {
	font-size: 14px;
}
body {
	font-family: "PT Sans", Tahoma, Arial, sans-serif; line-height: 1.286;
	text-indent: 0;
	text-align: left;
}
a, a:hover, a:focus {
	text-decoration: none;
	transition: all 0.5s;
}
b, strong, caption, dt, th {
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1, .fontsize_02, .imp_02 {
	font-size: 157.143%;
	line-height: 1.05;
}
h2, .fontsize_01, .imp_01 {
	font-size: 128.571%;
	line-height: 1.2;
}
h3, h4, h5, h6, caption {
	font-size: 100%;
}
blockquote {
	margin: 0 0 10px 4em;
	font-style: italic;
}
img {
	width: auto; height: auto;
	max-width: 100%;
	vertical-align: middle;
}
img[src*="/icons/"] {
	max-width: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	padding: 2px 4px 3px 4px;
	vertical-align: baseline;
}
hr {
	border-top-color: rgba(200, 177, 160, 0.2);
}
code, pre, .pre, .code {
	font-family: "PT Mono", "Courier New", monospace;
}
pre, .pre {
	padding: 2px 4px 3px 4px;
	overflow: auto;
	border-radius: 0;
}
button, input, select, textarea {
	display: inline-block;
	box-sizing: border-box;
	height: 22px;
	padding: 1px 7px 4px 7px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	vertical-align: middle;
	font-family: "PT Sans", Tahoma, Arial, sans-serif; font-size: 100%; line-height: 1.286;
	transition: all 0.3s;
}
input[type="checkbox"], input[type="color"], input[type="file"], input[type="image"], input[type="radio"], input[type="range"] {
	height: auto;
	padding: 0;
	background-color: transparent;
	border: none;
}
button, input[type="button"], input[type="reset"], input[type="search"], input[type="submit"] {
	padding: 0 7px 2px 7px;
}
button {
	height: auto;
	min-height: 22px;
}
input[type="color"] {
	height: 30px;
}
select {
	padding: 0 5px 2px 4px;
}
select[multiple], textarea {
	height: auto;
	padding: 0 7px 4px 7px;
	vertical-align: top;
}
input:hover, select:hover, textarea:hover, input:focus, select:focus, textarea:focus {
	box-shadow: 0 0 8px rgba(255, 243, 201, 0.13);
}
input, select, textarea {
	background-color: rgba(144, 98, 62, 0.1);
	border-color: rgba(200, 177, 160, 0.05) rgba(200, 177, 160, 0.1) rgba(200, 177, 160, 0.6) rgba(200, 177, 160, 0.1);
}
button, input[type="button"], button[disabled]:hover, input[type="button"][disabled]:hover {
	background-color: rgb(193, 170, 154);
	border-color: rgb(152, 131, 115) rgb(207, 184, 167) rgb(221, 198, 181) rgb(166, 144, 128);
	color: rgb(70, 41, 23);
}
input[type="submit"], input[type="reset"], input[type="submit"][disabled]:hover, input[type="reset"][disabled]:hover {
	background-color: rgb(186, 136, 98);
	border-color: rgb(144, 98, 62) rgb(200, 149, 110) rgb(214, 162, 123) rgb(158, 110, 74);
	color: rgb(70, 41, 23);
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover,
button:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus {
	background-color: rgb(218, 166, 126);
	border-color: rgb(175, 126, 89) rgb(232, 179, 139) rgb(247, 193, 152) rgb(189, 139, 101);
	box-shadow: 0 0 8px rgba(255, 243, 201, 0.5);
	color: rgb(70, 41, 23);
}
input[type="hidden"] {
	display: none;
}
[disabled] {
	opacity: 0.6;
	box-shadow: none !important;
	cursor: not-allowed;
}

/* Разные стили */

.fieldswidth_100 .field_parent {
	position: relative;
	white-space: nowrap;
}
.fieldwidth_100, .fieldswidth_100 input[type="email"]:first-child:last-child, .fieldswidth_100 input[type="file"]:first-child:last-child, .fieldswidth_100 input[type="password"]:first-child:last-child, .fieldswidth_100 input[type="search"]:first-child:last-child, .fieldswidth_100 input[type="tel"]:first-child:last-child, .fieldswidth_100 input[type="text"]:first-child:last-child, .fieldswidth_100 input[type="url"]:first-child:last-child, .fieldswidth_100 select:first-child:last-child, .fieldswidth_100 textarea:first-child:last-child {
	width: 100%;
}
*[class*="app-sbas-"], *[class*="app-sba-"] {
	position: absolute;
	line-height: 0;
	vertical-align: top;
	font-size: 11px;
	outline: none;
}
.app-sbas-top {top: -20px; right: -1px; left: 0; height: 40px;}
.app-sbas-right {top: 0; right: -21px; bottom: 0; width: 40px;}
.app-sbas-bottom {right: -1px; bottom: -20px; left: 0; height: 40px;}
.app-sbas-left {top: 0; bottom: 0; left: -20px; width: 40px;}
.app-sba-u {top: 0; right: 0; bottom: 50%; left: 0; padding-top: 8px;}
.app-sba-r {top: 0; right: 0; bottom: 0; left: 50%; padding-left: 6px;}
.app-sba-d {top: 50%; right: 0; bottom: 0; left: 0; padding-top: 8px;}
.app-sba-l {top: 0; right: 50%; bottom: 0; left: 0; padding-left: 5px;}
.app-sba-u, .app-sba-d {padding-right: 24px; padding-left: 24px;}
.app-sba-l, .app-sba-r {padding-top: 8px; padding-bottom: 9px;}
.app-sba-u::before {content: "\25b2";}
.app-sba-d::before {content: "\25bc";}
.app-sba-l::before {content: "\25c4";}
.app-sba-r::before {content: "\25ba";}
.app-sbas-right .app-sba-l {padding-left: 4px;}
.app-sbas-right .app-sba-r {padding-left: 5px;}
.app-sbas-bottom .app-sba-u, .app-sbas-bottom .app-sba-d {padding-top: 9px;}
.app-sbas-right.app-sbas-0 {right: 0; width: 20px;}
.app-sbas-right.app-sbas-0 .app-sba-r {display: none;}
.app-sbas-right.app-sbas-0 .app-sba-l {right: 0;}
.app-sbas-bottom.app-sbas-0 {bottom: 0; height: 20px;}
.app-sbas-bottom.app-sbas-0 .app-sba-d {display: none;}
.app-sbas-bottom.app-sbas-0 .app-sba-u {bottom: 0;}

/* Оформление декорирования */

#top-basic, #basic-basic, #bottom-basic {
	border-left: 1px solid rgba(255, 172, 110, 0.12);
	border-right: 1px solid rgba(47, 20, 0, 0.24);
}
#top-left, #top-right {
	border-bottom: 1px solid rgba(255, 172, 110, 0.04);
}
#top-basic {
	border-bottom: 1px solid rgba(255, 172, 110, 0.08);
}
#bottom-left, #bottom-right {
	border-top: 1px solid rgba(47, 20, 0, 0.1);
}
#bottom-basic {
	border-top: 1px solid rgba(47, 20, 0, 0.24);
}
#top, #bottom {
	background-color: rgb(64, 36, 18);
}
#top-left, #basic-left, #bottom-left {
	background-color: rgba(144, 98, 62, 0.4);
}
#top-right, #basic-right, #bottom-right {
	background-color: rgba(144, 98, 62, 0.4);
}
#top-basic {
	box-shadow: inset 0 -100px 20px -100px rgba(47, 20, 0, 0.2);
}
#bottom-basic {
	box-shadow: inset 0 100px 20px -100px rgba(47, 20, 0, 0.2);
}
#basic-left {
	box-shadow: inset -100px 0 20px -100px rgba(47, 20, 0, 0.6);
}
#basic-right {
	box-shadow: inset 100px 0 20px -100px rgba(47, 20, 0, 0.6);
}
#top-left {
	box-shadow: inset -100px -85px 20px -100px rgba(47, 20, 0, 0.6);
}
#top-right {
	box-shadow: inset 100px -85px 20px -100px rgba(47, 20, 0, 0.6);
}
#bottom-right {
	box-shadow: inset 100px 85px 20px -100px rgba(47, 20, 0, 0.6);
}
#bottom-left {
	box-shadow: inset -100px 85px 20px -100px rgba(47, 20, 0, 0.6);
}
